/*Accordian Styles */
/* Accordion Height is 250px */

.eager-accordion {
  width: 100%;
  max-width: 1080px;
  /*height: 250px;*/
  overflow: hidden;
  margin: 50px auto;
}
.eager-accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.eager-accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.eager-accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.eager-accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.eager-accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.eager-accordion ul li div a h2 {
  font-family: Raleway,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.eager-accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
/*
.eager-accordion ul li:nth-child(1) {
  background-image: url(../img/accordian/eldorado.png);
}
.eager-accordion ul li:nth-child(2) {
  background-image: url(../img/accordian/lancer.png);
}
.eager-accordion ul li:nth-child(3) {
  background-image: url(../img/accordian/eclipse.png);
}
.eager-accordion ul li:nth-child(4) {
  background-image: url(../img/accordian/370z.png);
}
.eager-accordion ul li:nth-child(5) {
  background-image: url(../img/accordian/nismoz.png);
}
*/

.eager-accordion ul:hover li {
  width: 8%;
}
.eager-accordion ul:hover li:hover {
  width: 60%;
}
.eager-accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.eager-accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
