.eager-accordion {
  width: 100%;
  max-width: 990px;
  min-height: 25px;
  overflow: hidden;
  margin: 50px auto;
}
.eager-accordion ul {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.eager-accordion ul li {
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
  background-size: cover;
}
.eager-accordion ul li div {
  height: 100%;
  display: block;
  overflow: hidden;
  width: 100%;
}
.eager-accordion ul li div a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.eager-accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: absolute;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.eager-accordion ul li div a h2 {
  font-family: sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  bottom: 40px;
}
.eager-accordion ul li div a p {
  bottom: 20px;
  font-size: 13.5px;
}
.eager-accordion ul:hover li {
  width: 8%;
}
.eager-accordion ul:hover li:hover {
  width: 60%;
}
.eager-accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, .4);
}
.eager-accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}